body {
  background-color: #fafafa;
}

button {
  cursor: pointer;
  padding: unset;
  border: unset;
  background: unset;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
